# Visual Studio
.vscode/

# Python
__pycache__/

# Scripts
scripts/
*.bat
*.cmd
*.ps1

# Images
images/

# Git
.git/
.gitignore

# pre-commit
.pre-commit-config.*
.ruff_cache/

# Docker
.dockerignore
docker-compose.*
Dockerfile

# Repo
.github/
LICENSE
README.md
SECURITY.md

# Misc
drafts/
