# Visual Studio
.vscode/

# Cache
__pycache__/
.ruff_cache/

# Scripts
scripts/
*.bat
*.cmd
*.ps1

# Environments
env/
venv/
.env
.venv

# Images
images/

# Git
.git/
.gitignore

# pre-commit
.pre-commit-config.*

# Docker
**/docker-compose.*
.dockerignore
Dockerfile

# Repo
.github/
LICENSE
README.md
SECURITY.md

# Misc
drafts/
