# Visual Studio
.vscode/

# Cache
__pycache__/
.ruff_cache/

# Scripts
scripts/
*.bat
*.cmd
*.ps1

# Environments
env/
venv/
.env
.venv

# Misc
drafts/
gallery-dl/
logs/

# Build
build/
dist/
*.egg-info/
*.spec
