aiofiles==24.1.0
gallery_dl==1.28.2
Jinja2==3.1.5
python-multipart==0.0.20
requests==2.32.3
starlette==0.42.0
uvicorn==0.34.0; platform_machine != 'x86_64'
uvicorn[standard]==0.34.0; platform_machine == 'x86_64'
yt-dlp==2024.12.23
