aiofiles==24.1.0
brotli==1.1.0; implementation_name == 'cpython'
brotlicffi==1.1.0; implementation_name != 'cpython'
gallery_dl==1.30.4
jinja2==3.1.6
mutagen==1.47.0
pycryptodomex==3.23.0
python-multipart==0.0.20
pyyaml==6.0.2
requests==2.32.5
starlette==0.47.2
toml==0.10.2; python_version <= '3.10'
uvicorn==0.35.0; (platform_machine != 'x86_64' and platform_machine != 'AMD64') or implementation_name != 'cpython'
uvicorn[standard]==0.35.0; (platform_machine == 'x86_64' or platform_machine == 'AMD64') and implementation_name == 'cpython'
watchfiles==1.1.0
websockets==15.0.1
yt-dlp==2025.8.20
